/* SITE HEADER */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-family: -apple-system, Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.site-header .nav {
    display: flex;
    align-items: center;
    font-family: -apple-system, Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.site-header .nav li:not(:last-child) {
    margin-right: 32px;       
}

.site-header .nav a {
    text-decoration: none;
    white-space: nowrap;
}

.site-header .nav .button {
    min-width: 0;
    padding: 8px 30px;
}

/* BOUTON */
.button {
    background: #000000;
    border-radius: 5px;
    padding: 20px 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    min-width: 200px;
    text-align: center;
}

.button-white {
    background:white;
    border-radius: 5px;
    color: black;
    border: 1px solid #000000;
    padding: 20px 0;
    display: inline-block;
    text-decoration: none;
    min-width: 200px;
    text-align: center;
}

/* CARD BLOG */
/*Mon image */
.card-blog .card__img {
    padding-top: 100%; 
    position: relative;
    overflow: hidden;
}

.card-blog .card__img img {
    position: absolute;    
    top: 0 ; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: center;
}

/*Mon texte */
.card-blog .card__desc {
    padding: 12px;
    background-color: #fff;
    font-family: -apple-system, Roboto, sans-serif;
}
.card-blog .desc__title {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: -apple-system, Roboto, sans-serif;
}

/* CARD PRICING */
.card-pricing {
    border: 1px solid #000000;
    border-radius: 2px;
}

.card-pricing .card__img {
    padding-top: 10px;  
    background-color: white;
}

.card-pricing .card__img img {
    object-fit: cover;
    height: 80px;
    margin-left: 33%;
    width: 80px; 
    border-radius: 50%;
}

.card-pricing .card__desc {
    text-align: center;
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
}
.card-pricing .desc__title {
    font-size: 20px;
    margin-bottom: 20px;
}

.smallText {
    font-size: 14px;
}

.sousTitre {
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.card-button {
    background: white;
    border-radius: 5px;
    padding: 20px 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    text-align: center;
}


/* CARD SQUARE */
.card-square {
    position: relative;
    overflow: hidden;
    min-width: 25%;
}

.card-square .card__img {
    padding-top: 100%; 
    position: relative;
    overflow: hidden;
}

.card-square .card__img img {
    position: absolute;    
    top: 0 ; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: center;
}

/* CARD CITATION */
.card-citation {
    position: relative;
    overflow: hidden;
    width: 25%;
}

.citation {
    color: black;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.auteur {
    color: royalblue;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}


/* SITE FOOTER */
.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-family: -apple-system, Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px; 
}
.black{
    color: dark;
}

.pink{
    color: pink;
}