:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --green: #6C7F65;
}

a {
  color: inherit;
  font-family: -apple-system, Roboto, sans-serif;
}

ul {
list-style: none;
}

.collections {
  background-color: #F4F4F4;
  padding: 50px 30px; 
  font-family: -apple-system, Roboto, sans-serif;
}

.collections-title {
  margin-bottom: 40px;
  font-size: 28px;
}

.collections .flex {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
}
.collections .flex .card-blog {
  width: 20%;
}