---
layout: layouts/base.njk
---

<div class='collections'>
  <h1 class='collections-title'>En ce moment</h1>

  {# Ici j'importe mon composant, je vais le chercher dans includes>components et je le nomme en utilisant 'as'#}
  {% import "components/button.njk" as button %}
  {% import "components/card-blog.njk" as cardBlog %}
  {% import "components/card-pricing.njk" as cardPricing %}
  {% import "components/card-square.njk" as cardSquare %}
  {% import "components/card-citation.njk" as cardCitation %}

  {# Ici je le montre et je modifie mon texte dans les ''#}
  {{ button.show('button button-white', 'Texte') }} 
  {{ button.show('button', 'Texte') }}

  
 
  <div class='flex'>
  {{ cardBlog.show ('Special Feature', 'black', 'See more >') }} 
  {{ cardPricing.show ('Musique', 'sousTitre', 'Mes titres préférés', 'button-white button smallText', 'Écouter') }}
  {{ cardSquare.show ('Ici figure mon texte', 'Learn More') }}
  {{ cardCitation.show ("Votre temps est limité, ne le gâchez pas en menant une existence qui n'est pas la vôtre.", 'Steve Jobs') }}
  </div>
</div>