---
layout: layouts/base.njk
---

<div class='collections'>
  <h1 class='collections-title'>Collections</h1>

  {# Ici j'importe mon composant, je vais le chercher dans includes>components et je le nomme en utilisant 'as'#}
  {% import "components/button.njk" as button %}
  {% import "components/card-blog.njk" as cardBlog %}
  {% import "components/card-pricing.njk" as cardPricing %}

  {# Ici je le montre et je modifie mon texte dans les ''#}
  {{ button.show('See more') }}
  {{ button.show ('See more') }}

  <div class='flex'>
  {{ cardBlog.show ('Special Feature', 'See more >') }}
  {{ cardPricing.show ('Title', 'Subtitle', 'See more >') }}
  </div>
</div>