{% macro show(title, cta) %}
    <div class='card-square'>
        <div class='card__img'>
            <img src='img/Icon-grid-Permasens.PNG' />   
        </div>
        <div class='card__desc'>
            <h2 class='desc__title'>{{ title }}</h2>
            <a class='cta cta--seemore'>{{ cta }}</a>
        </div>
    </div>
{% endmacro %} 