<header class='site-header'>
    <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

    <ul class="nav">
        <li class="nav-item"><a href="/">Accueil</a></li>
        <li class="nav-item"><a href="/projets">Projets</a></li>
        <li class="nav-item"><a href="/articles">Articles</a></li>
        <li class="nav-item"><a href="/musique">Musique</a></li>
        <li class="nav-item"><a href="/contact">Contact</a></li>
        <li class="nav-item button"><a href="/devis">Demander un devis</a></li>
    </ul>
</header>