<header class='site-header'>
    <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

    <ul class="nav">
        <li class="nav-item"><a href="#">Accueil</a></li>
        <li class="nav-item"><a href="#">Projets</a></li>
        <li class="nav-item"><a href="#">Articles</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
        <li class="nav-item button"><a href="#">Demander un devis</a></li>
    </ul>
</header>